// Colors
$blue: #2D64DC;
$lightBlue: #E4D0FF;
$darkBlue: #2E1C49;

$gray: #606060;
$lightGray: #ddd;
$darkGray: #444;

$primaryColor: $blue;

$colorTitle: $darkBlue;

// Base
$gutter: 30px;
$fontSize: 18px;
$fontFamily: 'Muli', sans-serif,