#header {
    background: linear-gradient(-190deg, rgb(48, 11, 116) 70%, #ebf5ff 25%);
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    padding-bottom: $gutter * 2;

    .container {
        position: relative;
    }

    .hero-image {
        position: absolute;
        top: -50px;
        right: -50px;
        max-width: 55%;

        @media screen and (max-width: $media-sm) {
            position: relative;
            right: auto;
            top: 0;
            max-width: 100%;
        }
    }

    &.reset-bg {
        background-color: #fff;
        background-image: none;
    }

    &.page-home {
        padding: 0 0 50px;
        min-height: 85vh;
        margin-bottom: 100px;

        @media screen and (max-width: $media-sm) {
            margin-bottom: 0px;
        }

        .hero-title {
            color: #fff;
            @media screen and (max-width: $media-sm) {
                font-size: 2.5rem;
            }
        }
    }

    .header-nav {
        width: 100%;
        flex-direction: row;
        align-content: space-between;
        margin-top: 20px;
        margin-bottom: $gutter * 2;
        display: flex;

        @media screen and (max-width: $media-sm) {
            margin-bottom: $gutter;
        }

        nav {
            margin-left: auto;
            
            @media screen and (max-width: $media-sm) {
                margin-right: 0;
            }

            a {
                font-size: .85rem;
                font-weight: 800;
                color: $darkGray;
                text-decoration: none;
                padding: 10px;
            }
        }

        &.light nav a {
            color: #fff;
        }
    }

    .header-logo {
        width: 130px;
        
        @media screen and (max-width: $media-sm) {
            width: 160px;
        }
    }

    p {
        color: $lightGray;
        max-width: 50%;
        font-size: 1rem;
        margin-bottom: $gutter;
        
        @media screen and (max-width: $media-sm) {
            max-width: 100%;
        }
    }

    a {
        color: lighten($darkBlue, 50%);
    }

    .hero-title {
        font-size: 3.4rem;
    }
}